:root {
    /* Navigation */
    --navigation-backgroundColor: #525E56;
    --navigation-textColor: #FAF0F0;

    --navigation-folderLineColor: #EAE0E0;
    --navigation-selectedBackgroundColor: #626E66;

    /* Main Content */
    --mainContent-font: 'Exo 2', sans-serif;
    --mainContent-backgroundColor: #FAF0F0;
    --mainContent-maxWidth: 75%;
    --mainContent-leftPosition: 10%;
    --mainContent-leftBorderColor: #EAE0E0;
    --mainContent-leftBorderWidth: 1px;
    --mainContent-rightBorderColor: #F1E5E5;
    --mainContent-rightBorderWidth: 1px;

    /* Tags */
    --tags-font: 'Roboto', sans-serif;
    --tags-fontSize: 10pt;
    --tags-backgroundColor: #0dcaf0;
    --tags-textColor: blue;

    /* Tables */
    --tables-seperationLineColor: #ddd;
    --tables-evenBackgroundColor: #eee;
    --tables-hoverBackgroundColor: #ee6;

    /* Images */
    --images-boxShadow: -1px -1px 10px 3px rgba(0, 0, 0, 0.75);
    --images-borderRadius: 5px;
}