a {
    color: inherit;
    transition: color .25s ease;
    user-select: none;
}
a:hover {
    color: #aaa;
}

.flex-container {
    display: flex;
}

.navigation-wrapper {
}

nav {
    font-family: var(--mainContent-font);

    flex: none;
    width: var(--navigation-width);
    color: var(--navigation-textColor);
}

.navigation-content {
    padding: 20px;
    overflow: auto;
    z-index: 0;
}

.navigationBackground {
    position: fixed;
    top: 0;
    background-color: var(--navigation-backgroundColor);
    width: var(--navigation-width);
    height: 100%;
    z-index: -2;
}

.tintedNavigation {
    position: fixed;
    top: 0;
    height: 100%;
    width: var(--navigation-width);
    opacity: .1;
    z-index: -1;
}

main {
    font-family: var(--mainContent-font);
    overflow: auto;
    flex-grow: 2;
    height: 100vh;
    background-color: var(--mainContent-backgroundColor);
}

.contentDisplay {
    height: 100%;
    position: relative;
    left: var(--mainContent-leftPosition);
    max-width: var(--mainContent-maxWidth);
    padding: 20px;
    border-left: var(--mainContent-leftBorderWidth) solid var(--mainContent-leftBorderColor);
    border-right: var(--mainContent-rightBorderWidth) solid var(--mainContent-rightBorderColor);
}