a {
    color: inherit;
    transition: color .25s ease;
    user-select: none;
}
a:hover {
    color: #aaa;
}

.flex-container {
    display: flex;
}

nav {
    font-family: 'Exo 2', sans-serif;

    flex: none;
    width: 300px;
    padding: 20px;
    overflow: auto;
    background-color: var(--navigation-backgroundColor);
    color: var(--navigation-textColor);

}

main {
    font-family: var(--mainContent-font);
    overflow: auto;
    flex-grow: 2;
    height: 100vh;
    background-color: var(--mainContent-backgroundColor);
}

.contentDisplay {
    height: 100%;
    position: relative;
    left: var(--mainContent-leftPosition);
    max-width: var(--mainContent-maxWidth);
    padding: 20px;
    border-left: var(--mainContent-leftBorderWidth) solid var(--mainContent-leftBorderColor);
    border-right: var(--mainContent-rightBorderWidth) solid var(--mainContent-rightBorderColor);
}