

.title {
    font-weight: bold;
    font-size: 20pt;
}



.tag {
    font-family: var(--tags-font);
    font-size: var(--tags-fontSize);

    background-color: var(--tags-backgroundColor);

    padding: 3px 7px;
    border-radius: 10px;
    color: var(--tags-textColor);
    text-decoration: none;
}

.tag:hover {
    color: var(--tags-textColor);

}

table {
    width: 100%;
}

th {
    padding: 5px;
    border-bottom: 2px solid var(--tables-seperationLineColor);
}
td {
    padding: 5px;
    border-bottom: 1px solid var(--tables-seperationLineColor);
}

tr:hover td {
    background-color: var(--tables-hoverBackgroundColor);
}
tr:nth-child(even) {
    background-color: var(--tables-evenBackgroundColor);
}

.markdownImage {
    width: 90%;
    max-width: 800px;
    margin: 5px 10px;
    box-shadow: var(--images-boxShadow);
    border-radius: var(--images-borderRadius);
}