.navigation-item {
    padding: 0px;
    height: 0;
    width: 100%;

    transform: scale(1,0);
}

.navigation-item-shown {
    transform: scale(1);
    padding: 3px 7px;
    height: auto;
}

.navigation-folder div {
    border-left: 1px solid var(--navigation-folderLineColor);
    padding-left: 13px;
}

.navigation-arrow {
    transform: rotateZ(-90deg);
    transition: transform .2s;
}
.navigation-arrow-shown {
    transform: rotateZ(0deg);
}

.navigation-item-text {
    width: 100%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navigation-item-selected {
    padding: 3px 7px;
    background: var(--navigation-selectedBackgroundColor);
    border-radius: 5px;
}