body, div, main, nav {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--navigation-backgroundColor);
    font-size: 12pt;
}

a {
    color: inherit;
    transition: color .25s ease;
    user-select: none;
}
a:hover {
    color: #aaa;
}

.contentWrapper {
    display: flex;
}

main {
    z-index: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: var(--mainContent-font);
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 2;
    height: 100vh;
    background-color: var(--mainContent-backgroundColor);
}

.contentDisplay {
    height: 100%;
    position: relative;
    left: var(--mainContent-leftPosition);
    max-width: var(--mainContent-maxWidth);
    padding: 20px;
    border-left: var(--mainContent-leftBorderWidth) solid var(--mainContent-leftBorderColor);
    border-right: var(--mainContent-rightBorderWidth) solid var(--mainContent-rightBorderColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 560px) {

    .contentDisplay {
        max-width: 90%;
        left: 5px;
        border-right: none;
        font-size: 10pt;

    }
}