nav {
    font-family: var(--mainContent-font);

    flex: none;
    width: var(--navigation-closedWidth);
    color: var(--navigation-textColor);
    z-index: 0;
    transition: width .02s ease;
}
.tintedNavigation {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .1;
    z-index: -1;
}

.navigation-content {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    padding: 20px;
    transform: translate(-50px, 0);

    transition: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.navToggle{
    padding: 10px 10px;

    transform: rotateZ(0deg);
    transform-origin: center;
    transition: transform .02s ease;
    cursor: pointer;
}

.navToggle:hover {
    transform: rotateZ(15deg);
}

.navToggleText {
    opacity: 0;
    font-size: 15pt;
}

.contentWrapper[data-navOpen=true] nav {
    width: var(--navigation-width);

}
.contentWrapper[data-navOpen=true] nav .navToggle {
    transform: rotateZ(90deg);
}

.contentWrapper[data-navOpen=true] nav .navToggleText {
    transition: opacity .1s ease;
    opacity: 1;
}
.contentWrapper[data-navOpen=true] nav .navToggle:hover {
    transform: rotateZ(75deg);
}
.contentWrapper[data-navOpen=true] nav .navigation-content {
    opacity: 1;
    width: inherit;
    height: inherit;
    overflow: auto;

    transform: translate(0, 0);
    pointer-events: auto;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 560px) {
    /* Styles */
    .navToggle:hover {
        transform: rotateZ(0deg);
    }
    .contentWrapper[data-navOpen=true] nav .navToggle:hover {
        transform: rotateZ(90deg);
    }

    .contentWrapper[data-navOpen=true] nav {
        width: 95%;
    }
    .contentWrapper[data-navOpen=true] main {
        opacity: .1;
        pointer-events: none;
    }
}